html, body {
	margin:0;
	padding:0;
	color: #09F;
}
body{
	text-align: center;
	font-family: "century Gothic", Verdana, Helvetica, Arial, sans-serif;
	background-color: #09F;
	color: #09F;
	font-size: 79%;
}
a{
	color: #09F;
	text-decoration: none;
}
a:focus, a:hover, a:active {
	text-decoration: underline;
	color: #09F;
}
p, li {
	line-height: 1.8em;
	color: #09F;
	
}
h1, h2 {
	font-family: "century Gothic";
	margin: 0 0 10px 0;
	letter-spacing:-1px;
	color: #09F;
}
h1 {
	padding: 0;
	font-size: 3em;
	color: #09F;
}
h2 {
	padding-top: 10px;
	font-size:2em;
	color: #09F;
}
pre {
	font-size: 1.2em;
	line-height: 1.2em;
	overflow-x: auto;
	color: #09F;
}
div#page {
	width: 900px;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	color: #09F;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}
div#container {
	padding: 20px;
	color: #09F;
}
div#ads {
	clear: both;
	padding: 12px 0 12px 66px;
	color: #09F;
}
div#footer {
	clear: both;
	color: #09F;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}
