/* estilos de galeria, ilustracion,afiches,marca y portada */
/* estilo de Regresar al Portafolio */
.cambioColor {color: #FFF;
}
.cambioColor:hover {color: #306;
}
/* tipo de fuente, color de fondo, tamaño de fuente y alineado de todo el cuerpo */
body{
	margin:0;
	padding:0;
	width:100%;
	text-align: center;
	font-family: "century Gothic";
	background-color: #09F;
	font-size: 0.8em;
}
/* estilos de la etiquetas de enlace <a> */
a{
	color: #09F;
	text-decoration: none;
}
/* estilos del titulo de cada seccion: GALERIA, ILUSTRACION, MARCA, AFICHE, PORTADA */
h2 {
	font-family: "century Gothic";
	margin: 0 0 10px 0;
	letter-spacing:-1px;
	padding-top: 10px;
	font-size:2em;
	color: #09F;
	
}
/* estilos de la galeria */
div#page {
	width: 80%;
	background-color: #fff;
	margin: 0 auto;
	text-align: left;
	color: #09F;
	border-style: none solid solid;
	border-width: medium 1px 1px;
}
/* espaciado y color de fuente del titulo y descripcion de cada foto */
div#container {
	padding: 40px;
	color: #09F;
}

div#footer {
	clear: both;
	color: #09F;
	margin: 0 auto;
	padding: 20px 0 40px;
	text-align: center;
}


div.content {
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	display: none;
	float: right;
	width: 60%; 
}
/* color del texto numero de pagina, siguiente y anterior cuando no estan seleccionadas  */
div.content a, div.navigation a {
	text-decoration: none;
	color: #09F;
}
/* permite que salga el subrayado en pausar presentacion, reproducir presentacion,foto anterior y siguiente foto */
div.content a:focus, div.content a:hover, div.content a:active {
	text-decoration: underline;
}
div.controls {
	margin-top: 5px;
	height: 23px;
}
/* espaciado entre las palabras foto anterior y siguiente foto */
div.controls a {
	padding: 5px;
}
/* permite la alineacion de las etiquetas <a> */
div.ss-controls {
	float: left;
}
/* alinea a la derecha los controles de navegacion: foto anterior y siguiente foto */
div.nav-controls {
	float: right;
}
div.slideshow-container {
	position: relative;
	clear: both;
	height: 500px;
	width: 70%
	/* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 50%; /* This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {
	width:100%;

}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 0;
	left: 4px;
	width: 100%;
	height: 100%;
}
/* posicion de la imagen grande y su alineacion */
div.slideshow a.advance-link {
	display: block;
	width: 530px;
	height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
	line-height: 502px; /* This should be set to be at least the height of the largest image in the slideshow */
	text-align: center;
}

/* posicion de la imagen grande, tamaño y color de borde */
div.slideshow img {
	vertical-align: middle;
	border: 1px solid #ccc;
	
}
/* tamaño de altura del contenedor de la descripcion de la foto */
div.caption-container {
	position: relative;
	height: 75px;
}
/* posicion de la descripcion y del titulo de las imagenes */
span.image-caption {
	opacity: 1;
	display: block;
	position: absolute;
	width: 80%;
	top: 9px;
	left: 13px;
}
/* estilo y tamaño del titulo de imagen */
div.image-title {
	font-weight: bold;
	font-size: 1.4em;
	width: 100%;
}
/* estilo y tamaño de la descripcion de la imagen */
div.image-desc {
	font-size: 1em;
	padding-top: 5px;
	width: 100%;
}
div.navigation {
	width:100%;
	/* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
	clear: both;
	margin: 0;
	padding: 0;
}
/* alineacion de las imagenes pequeñas */
ul.thumbs li {
	float: left;
	padding: 0;
	margin: 5px 10px 5px 0;
	list-style: none;
	width:29%;
}
/* tamaño y color del borde la imagen pequeña */
a.thumb {
	padding: 5px;
	display: block;
	border: 1px solid #ccc;
	width: 87%;
}
/* color del cuadro de fondo al seleccionar una imagen pequeña */
ul.thumbs li.selected a.thumb {
	background: #09f;
}

ul.thumbs img {
	border: none;
	display: block;
	width:100%;
}
div.pagination {
	clear: both;
}
div.navigation div.top {
	margin-bottom: 12px;
	height: 11px;
}
div.navigation div.bottom {
	margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
}
/* color del cuadro de numero de pagina, de las palabras siguiente y anterior al poner el cursor */
div.pagination a:hover {
	background-color: #eee;
	text-decoration: none;
}
/* estilo del numero de pagina donde se encuentra ubicado */
div.pagination span.current {
	font-weight: bold;
	background-color:#09f;
	border-color: #000;
	color: #fff;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}

/*hacer adaptable*/

.contenedor {
width:100%;
max-width:1000px;
margin:0 auto;
overflow:hidden;
}
