@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold);
-->
body {
	background-color: #333
	background-size:1500px 1500px;
	
}
.cabecera {
	font-family: Century Gothic;
}
.somos {
	font-family: Caviar Dreams;
}
somos {
	font-family: Century Gothic;
}
.somos strong {
	font-family: Century Gothic;
}
.somos {
	font-family: Century Gothic;
}
.pregunta {
	font-family: Century Gothic;
}
.cambioColor {color:#999;
}
.cambioColor:hover {color: #F09;
}
-->

* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 20px;
	font-family: "Century Gothic", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	   font-weight: 300;
	text-transform: uppercase;
	margin: 15px;
	color: #066;
}

#ex3 {
	width: 730px;
	height: 133px;
	line-height:0px;
	color: transparent;
	font-size: 12px;
	font-family: "Century Gothic", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	   font-weight:300;
	  
	text-transform: uppercase;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

#ex3:hover {
	line-height: 15px;
	text-align:right;
	color:#666
	}

#ex3 img{
	float: left;
	margin: 0 15px;
}
#wrapper {
  position: relative;
  text-align: center;
  font-family: "Century Gothic", "Lucida Grande", Lucida, Verdana, sans-serif;
  margin: 0 auto;
  width: 880px;
  padding: 7em 0;
  
  width:"398";
  height:"133";
  border-radius: 4px;
  box-shadow: inset 0 -1px 0  hsla(0,0%,0%,.2), 0 21px 8px -12px rgba(0,0,0,.2);
  }
 
#wrapper:focus {  outline: none;}
#wrapper p {  font-size:6em; 
 margin: 0; 
  color: #CF0; 
   text-transform: uppercase;
     letter-spacing: 0.03em;
	   text-shadow: rgba(0,0,0,0.1) 0 20px 80px;
	     -webkit-transition: -webkit-transform .1s ease-in;}
#wrapper:hover p {  color: #099;
  -webkit-transition: -webkit-transform .1s ease-out; }


 #wrapper2 {
  position: relative;
  text-align: center;
  font-family: "Century Gothic", "Lucida Grande", Lucida, Verdana, sans-serif;
  margin: 0 auto;
  width: 880px;
  padding: 7em 0;
  width:"398";
  height:"133";
  border-radius: 4px;
  box-shadow: inset 0 -1px 0  hsla(0,0%,0%,.2), 0 21px 8px -12px rgba(0,0,0,.2);
  }
 
#wrapper2:focus {  outline: none;}
#wrapper2 p {  font-size:6em; 
 margin: 0; 
  color: #CF6; 
   text-transform: uppercase;
     letter-spacing: 0.03em;
	   text-shadow: rgba(0,0,0,0.1) 0 20px 80px;
	     -webkit-transition: -webkit-transform .1s ease-in;}
#wrapper2:hover p {  color: #099;
  -webkit-transition: -webkit-transform .1s ease-out;} 
  #wrapper3 {
  position: relative;
  text-align: center;
  font-family: "Century Gothic", "Lucida Grande", Lucida, Verdana, sans-serif;
  margin: 0 auto;
  width: 880px;
  padding: 7em 0;
 
  width:"398";
  height:"133";
  border-radius: 4px;
  box-shadow: inset 0 -1px 0  hsla(0,0%,0%,.2), 0 21px 8px -12px rgba(0,0,0,.2);
  }
 #wrapper3:focus {  outline: none;}
#wrapper3 p {  font-size:6em; 
 margin: 0; 
  color: #9C0; 
   text-transform: uppercase;
     letter-spacing: 0.03em;
	   text-shadow: rgba(0,0,0,0.1) 0 20px 80px;
	     -webkit-transition: -webkit-transform .1s ease-in;}
#wrapper3:hover p {  color: #099;
  -webkit-transition: -webkit-transform .1s ease-out;}
 
 
 

#header a {
	color: white;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}


