@charset "utf-8";
/* CSS Document */


.cabecera a {
	font-family: Century Gothic;
}

.cambioColor {color:#999;
}
.cambioColor:hover {color: #F09;
}


.post-body img {
width:70%;
max-width:1000px;
-webkit-filter: grayscale(0%);
border-radius: 0px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.post-body img:hover {
 border-radius: 0%;
 -webkit-filter: grayscale(100%);
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
 -o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
.contenedor {
width:80%;
max-width:1000px;
margin:0 auto;
overflow:hidden;

}
