@charset "utf-8";
/* CSS Document */

body {
	background-color: #CCC
}
.cabecera {
	font-family: "Century Gothic";
	text-align:center;
	}
body p {
	font-family: Century Gothic;
	text-align: justify;
	font-size: 18px;
	color: #000;
}
.video {
	font-family: Century Gothic;
}
.video {
	font-family: Century Gothic;
}
.video {
	font-family: Century Gothic;
}

#servicio {
	color: #F0F;
}

.contenedor {
width:80%;
max-width:1000px;
margin:0 auto;

}


div#menu
{with:2oopx;
margen-top: 50px
text-align:justify;
}

div#menu ul{ 
	list-style:none;
	text-align:justify;
}
div#menu ul li{
	
	margin-top:25px;
	font-size:18px;
	background-color:#999;
	width: 190px;
	padding-top::10px;
	padding-bottom:10px;
	border-radius: 5px 5px 5px 5px;
	padding-left:20px;
	padding-top:10px;
	box-shadow:5px 0px 10px #939393;
	-webkit-transition:padding-left 0.6s;
	alignment-adjust:justify;
	color:#333
 
}
div#menu ul li:hover{
	padding-left: 100px;
	color: white
}

div#servicio{
	text-align:center;
	color:#F39;
	font-size:36px;
	font-family:'Century Gothic';
	
}
div#servicio1{
	text-align:justify;
	color:#000;
	font-size:18px;
	font-family:'Century Gothic';
	
}
div#cuadro1{
	
   
   background-color: #f5f5f5;
   width: 70%;
   height:180%;
   margin: 0px auto;
}

div#cuadro2{
	background-color:  #f5f5f5;
	width: 70%;
	height:80%;
	margin: 0px auto;
	font-size: 18px;
	font-family:´'Century Gothic';
	text-align:center;
}

div#cuadro3{
	
	width: 800px;
	margin: 0px auto;
	font-size: 10px;
	font-family:´'Century Gothic'
